{{ partial "header.html" . }}
<section class="main">
    <div class="container f04">
        <div class="content">
            <div class="num">404</div>
            <div class="detail">Oops! Either you've found a bug (in which case, <a href="mailto:vicky@vickylai.com">please tell me</a>) or you're just making things up. This page doesn't exist!</div>
            <div class="suggestion"><a href="/">Go to home page</a></div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
